.header {
    height: 60px;
    & > .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        column-gap: 30px;
    }
    &__link {
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
    }
}